<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-gotenna" version="0.2.0">
    <name>goTenna</name>
    <description>Cordova goTenna Plugin</description>
    <license></license>
    <keywords>cordova,goTenna</keywords>
    <js-module src="www/goTenna.bundle.js" name="goTenna">
        <runs/>
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="GoTenna">
                <param name="android-package" value="com.dansteren.gotenna.GoTennaPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/GoTennaPlugin.java" target-dir="src/com/dansteren/gotenna" />
        <source-file src="src/android/XBluetoothAdapterManager.java" target-dir="src/com/dansteren/gotenna/XBluetoothAdapterManager" />
        <source-file src="src/android/XGTConnectionManager.java" target-dir="src/com/dansteren/gotenna/XGTConnectionManager" />
        <source-file src="src/android/XGTCommandCenter.java" target-dir="src/com/dansteren/gotenna/XGTCommandCenter" />
        <source-file src="src/android/XUserDataStore.java" target-dir="src/com/dansteren/gotenna/XUserDataStore" />
        <source-file src="src/android/Message.java" target-dir="src/com/dansteren/gotenna/Message" />
        <framework src="src/android/config.gradle" custom="true" type="gradleReference" />
        <lib-file src="src/android/gotenna-public-sdk.aar" target="libs/gotenna-public-sdk.aar" />
    </platform>
    <framework src="com.android.support:support-v4:27.1.1" />
</plugin>
